<a href="https://colab.research.google.com/github/marcos-marques/ds_base/blob/main/pandas_basic_for_data_science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Science üìä

Esta s√©rie de Notebooks tem como objetivo de trazer uma introdu√ß√£o das principais bibliotecas utilizandas no universo de Data Science.

------

<div><p><b>ATEN√á√ÉO:</b> <i>Voc√™ n√£o conseguir√° editar esse notebook, salve este notebook em seu Google Drive pessoal.</i></p>
<p>Passos: <b>Acessar o menu Arquivo </b> > <b> Salvar uma c√≥pia no Drive</b> </p>
</div>

# Pandas B√°sico üêº

A biblioteca Pandas √© constru√≠da no NumPy e fornece estruturas de dados f√°ceis de usar e ferramentas de an√°lise de dados para a linguagem de programa√ß√£o Python.

In [1]:
# Use a seguinte conven√ß√£o de importa√ß√£o
import pandas as pd

## Pedindo Ajuda

Se voc√™ precisar saber como funciona uma determinada fun√ß√£o no Pandas, voc√™ pode utilizar a fun√ß√£o **help** em seguida passar o objeto Pandas para o qual precisa de ajuda com a fun√ß√£o.

In [5]:
help(pd.DataFrame.count)

Help on function count in module pandas.core.frame:

count(self, axis: 'Axis' = 0, level: 'Level | None' = None, numeric_only: 'bool' = False)
    Count non-NA cells for each column or row.

    The values `None`, `NaN`, `NaT`, and optionally `numpy.inf` (depending
    on `pandas.options.mode.use_inf_as_na`) are considered NA.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        If 0 or 'index' counts are generated for each column.
        If 1 or 'columns' counts are generated for each row.
    level : int or str, optional
        If the axis is a `MultiIndex` (hierarchical), count along a
        particular `level`, collapsing into a `DataFrame`.
        A `str` specifies the level name.
    numeric_only : bool, default False
        Include only `float`, `int` or `boolean` data.

    Returns
    -------
    Series or DataFrame
        For each column/row the number of non-NA/null entries.
        If `level` is specified returns a `DataFrame`.

    See Also
    --------
    Series.count: Number of non-NA elements in a Series.
    DataFrame.value_counts: Count unique combinations of columns.
    DataFrame.shape: Number of DataFrame rows and columns (including NA
        elements).
    DataFrame.isna: Boolean same-sized DataFrame showing places of NA
        elements.

    Examples
    --------
    Constructing DataFrame from a dictionary:

    >>> df = pd.DataFrame({"Person":
    ...                    ["John", "Myla", "Lewis", "John", "Myla"],
    ...                    "Age": [24., np.nan, 21., 33, 26],
    ...                    "Single": [False, True, True, True, False]})
    >>> df
       Person   Age  Single
    0    John  24.0   False
    1    Myla   NaN    True
    2   Lewis  21.0    True
    3    John  33.0    True
    4    Myla  26.0   False

    Notice the uncounted NA values:

    >>> df.count()
    Person    5
    Age       4
    Single    5
    dtype: int64

    Counts for each **row**:

    >>> df.count(axis='columns')
    0    3
    1    2
    2    3
    3    3
    4    3
    dtype: int64

## Estruturas de dados do Pandas

### Series

Uma matriz rotulada unidimensional capaz de armazenar qualquer tipo de dados.

In [2]:
sr = pd.Series([30, -8, 12, 14, 33], index=[ 'a', 'b', 'c', 'd', 'e'])
sr

a    30
b    -8
c    12
d    14
e    33
dtype: int64

### Data Frame

Uma estrutura de dados rotulada bidimensional com colunas de tipos potencialmente diferentes.

In [3]:
# colunas ['Amazonas',  'Pernambuco',  'S√£o Paulo', 'Mato Grosso', 'Santa Catarina']
# index 0, 1, 2

data = {'Estado': ['Amazonas',  'Pernambuco',  'S√£o Paulo', 'Mato Grosso', 'Santa Catarina'], 'Capital': ['Manaus',  'Recife',  'S√£o Paulo', 'Cuiab√°', 'Florian√≥polis'], 'Popula√ß√£o': [39000000, 93000000, 443000000, 32000000, 62000000]} 

df = pd.DataFrame(data,columns=['Estado',  'Capital',  'Popula√ß√£o'])

df

           Estado        Capital  Popula√ß√£o
0        Amazonas         Manaus   39000000
1      Pernambuco         Recife   93000000
2       S√£o Paulo      S√£o Paulo  443000000
3     Mato Grosso         Cuiab√°   32000000
4  Santa Catarina  Florian√≥polis   62000000

## Dropping

- Removendo valores de **linhas**
- Removendo valores de **colunas**

In [4]:
# removendo valores de linhas (axis=0)
# ao utilizar o drop, voc√™ n√£o exclui os valores da serie "sr", apenas exclui para essa execu√ß√£o, mas a serie "sr" continua tendo os valores
print('Utilizando drop')
print(sr.drop(['a', 'c']))
print('----------------')
print('Sem drop')
print(sr)

Utilizando drop
b    -8
d    14
e    33
dtype: int64
----------------
Sem drop
a    30
b    -8
c    12
d    14
e    33
dtype: int64

## Sort & Rank

Ordenando um Data Frame utilizando as fun√ß√µes **sort** e **rank**

- Classificar por r√≥tulos ao longo de um eixo
- Classificar por valores ao longo de um eixo
- Atribuir classifica√ß√µes √†s entradas

In [6]:
# Ordenando pelo index
df.sort_index()

           Estado        Capital  Popula√ß√£o
0        Amazonas         Manaus   39000000
1      Pernambuco         Recife   93000000
2       S√£o Paulo      S√£o Paulo  443000000
3     Mato Grosso         Cuiab√°   32000000
4  Santa Catarina  Florian√≥polis   62000000

In [7]:
# Ordenando por uma determinada coluna
df.sort_values(by='Capital')

           Estado        Capital  Popula√ß√£o
3     Mato Grosso         Cuiab√°   32000000
4  Santa Catarina  Florian√≥polis   62000000
0        Amazonas         Manaus   39000000
1      Pernambuco         Recife   93000000
2       S√£o Paulo      S√£o Paulo  443000000

In [8]:
# A fun√ß√£o rank quando n√£o definido uma coluna em especifico, ela define uma ordem para cada item da coluna, sendo 1.0 primeiro e 5.0 √∫ltimo da coluna
# sendo que a ordena√ß√£o pode ser por ordem alfab√©tica ou num√©rica
 
df.rank()

   Estado  Capital  Popula√ß√£o
0     1.0      3.0        2.0
1     3.0      4.0        4.0
2     5.0      5.0        5.0
3     2.0      1.0        1.0
4     4.0      2.0        3.0

## I/O (Input e Output)

Lendo e escrevendo dados em arquivos **CSV**, **Excel** e **Table**

### I/O DataFrame para CSV

In [9]:
file_csv = 'sample_data/my_file.csv'

# Salvando um DataFrame em disco no formato CSV
df.to_csv(file_csv, index=None)

In [10]:
df = pd.read_csv(file_csv)
df

           Estado        Capital  Popula√ß√£o
0        Amazonas         Manaus   39000000
1      Pernambuco         Recife   93000000
2       S√£o Paulo      S√£o Paulo  443000000
3     Mato Grosso         Cuiab√°   32000000
4  Santa Catarina  Florian√≥polis   62000000

### I/O DataFrame para XLS

In [11]:
file_xls = 'sample_data/my_file.xls'

# Salvando um DataFrame em disco no formato XLS
df.to_excel( file_xls, sheet_name='Sheet_1', engine='xlwt', index=None)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  after removing the cwd from sys.path.

### I/O para uma Query SQL ou DataBase Table

Para trabalhar com dados provenientes de bases de dados ou para salvar em banco de dados √© necess√°rio importar a biblioteca ```sqlalquemy```

In [12]:
from sqlalchemy import create_engine

In [13]:
# Criando uma base de dados com sqlite na memoria
engine = create_engine('sqlite:///:memory:')

In [14]:
table = 'my_table'

# Salvando um DataFrame como uma tabela em uma Base
df.to_sql(table, engine, index=None, if_exists='replace')

In [15]:
pd.read_sql(table, engine)

           Estado        Capital  Popula√ß√£o
0        Amazonas         Manaus   39000000
1      Pernambuco         Recife   93000000
2       S√£o Paulo      S√£o Paulo  443000000
3     Mato Grosso         Cuiab√°   32000000
4  Santa Catarina  Florian√≥polis   62000000

## Sele√ß√£o

Selecionando elementos em um DataFrame

- Por Posi√ß√£o
- Por R√≥tulo

Para sele√ß√£o de dados utilizando Pandas √© muito comum o uso das fun√ß√µes **iloc** e **loc**.

**Diferen√ßas entre loc e iloc**

A principal distin√ß√£o entre loce iloc √©:

- **loc** √© baseado em r√≥tulos, o que significa que voc√™ precisa especificar linhas e colunas com base em seus r√≥tulos de linha e coluna .
- **iloc** √© baseado em posi√ß√£o inteira, ent√£o voc√™ tem que especificar linhas e colunas por seus valores de posi√ß√£o inteira (posi√ß√£o inteira baseada em 0).

\*\* **at** esta fun√ß√£o permite selecionar um √∫nico valor por vez

### Selecionando um √∫nico elemento em um Seria

In [16]:
# Selecionando um elemento em uma Serie
sr[3]

14

### Selecionando parte de um DataFrame

In [17]:
# Selecionando parte de um DataFrame, neste caso estamos selecionando todas as colunas e somente duas linhas
df[1:3]

       Estado    Capital  Popula√ß√£o
1  Pernambuco     Recife   93000000
2   S√£o Paulo  S√£o Paulo  443000000

### Selecionando por Posi√ß√£o

In [18]:
# Selecionando um registro no DataFrame utilizando a posi√ß√£o da linha e coluna com a fun√ß√£o iloc
df.iloc[[1],[0]]

       Estado
1  Pernambuco

### Por R√≥tulo

In [19]:
# Selecionando um √∫nico valor de uma linha pelo r√≥tulo (coluna)
df.loc[[1],['Capital']]

  Capital
1  Recife

In [20]:
df.at[0, 'Capital']

'Manaus'

## Boolean Indexing

In [21]:
# Selecionando valor na Serie sr desde que o valor n√£o seja maior que 1
sr[~(sr > 1)]

b   -8
dtype: int64

In [22]:
# Selecionando valor na Serie sr desde que o valor seja menor que 1 ou maior que 20
sr[(sr < -1) | (sr > 20)]

a    30
b    -8
e    33
dtype: int64

In [23]:
# Selecionar no DataFrame na Coluna Popula√ß√£o que seja maior que 50000000
df[df['Popula√ß√£o'] > 50000000]

           Estado        Capital  Popula√ß√£o
1      Pernambuco         Recife   93000000
2       S√£o Paulo      S√£o Paulo  443000000
4  Santa Catarina  Florian√≥polis   62000000

## Recuperando Informa√ß√µes de S√©rie/DataFrame

### Informa√ß√µes B√°sicas

In [24]:
# Verificando o n√∫mero de linhas e colunas de um DataFrame
df.shape

(5, 3)

In [25]:
# Detalhes dos valores de indice
df.index

RangeIndex(start=0, stop=5, step=1)

In [26]:
# Informa√ß√µes relacionadas a colunas do DataFrame
df.columns

Index(['Estado', 'Capital', 'Popula√ß√£o'], dtype='object')

In [27]:
# Obtendo informa√ß√µes do DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Estado     5 non-null      object
 1   Capital    5 non-null      object
 2   Popula√ß√£o  5 non-null      int64
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes

In [28]:
# Detalhes da quantidade de registros por colunas e de nulos
df.count()

Estado       5
Capital      5
Popula√ß√£o    5
dtype: int64

### Informa√ß√µes de Resumo

In [29]:
# Soma dos Valores
df.sum()

Estado       AmazonasPernambucoS√£o PauloMato GrossoSanta Ca...
Capital               ManausRecifeS√£o PauloCuiab√°Florian√≥polis
Popula√ß√£o                                            669000000
dtype: object

In [30]:
# Soma cumulativa das colunas
df.cumsum()

,Estado,Capital,Popula√ß√£o
0,Amazonas,Manaus,39000000
1,AmazonasPernambuco,ManausRecife,132000000
2,AmazonasPernambucoS√£o Paulo,ManausRecifeS√£o Paulo,575000000
3,AmazonasPernambucoS√£o PauloMato Grosso,ManausRecifeS√£o PauloCuiab√°,607000000
4,AmazonasPernambucoS√£o PauloMato GrossoSanta Ca...,ManausRecifeS√£o PauloCuiab√°Florian√≥polis,669000000

In [31]:
# Obtendo o valor m√≠nimo de cada uma das colunas, tamb√©m √© poss√≠vel obter o mim de uma √∫nica coluna
df.min()

Estado       Amazonas
Capital        Cuiab√°
Popula√ß√£o    32000000
dtype: object

In [32]:
# Obtendo o valor m√°ximo de cada uma das colunas, tamb√©m √© poss√≠vel obter o max de uma √∫nica coluna
df.max()

Estado       S√£o Paulo
Capital      S√£o Paulo
Popula√ß√£o    443000000
dtype: object

In [33]:
# Obtendo informa√ß√µes estat√≠sticas do DataFrame, s√≥ considera colunas com n√∫meros
df.describe()

          Popula√ß√£o
count  5.000000e+00
mean   1.338000e+08
std    1.744812e+08
min    3.200000e+07
25%    3.900000e+07
50%    6.200000e+07
75%    9.300000e+07
max    4.430000e+08

In [34]:
# Retorna o valor m√©dio de colunas com valores num√©ricos
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Popula√ß√£o    133800000.0
dtype: float64

In [35]:
# Retorna o valor mediano apenas de colunas com valores num√©ricos
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

Popula√ß√£o    62000000.0
dtype: float64

## Aplicando fun√ß√µes

Quando trabalhamos com Pandas √© poss√≠vel aplicar uma fun√ß√£o a uma coluna, isto √© √∫til para tratamento de dados.


- `map` √© elemento a elemento para S√©rie (aceita `dict` e `Series`)
- `applymap` √© elemento para DataFrames
- `apply` tamb√©m funciona de forma elementar, mas √© adequado para opera√ß√µes e agrega√ß√£o mais complexas. O comportamento e o valor de retorno dependem da fun√ß√£o.

In [36]:
 # Fun√ß√£o de exemplo
 f = lambda x: x*2

In [37]:
df['Popula√ß√£o * 2'] = df[['Popula√ß√£o']].apply(f)
df

           Estado        Capital  Popula√ß√£o  Popula√ß√£o * 2
0        Amazonas         Manaus   39000000       78000000
1      Pernambuco         Recife   93000000      186000000
2       S√£o Paulo      S√£o Paulo  443000000      886000000
3     Mato Grosso         Cuiab√°   32000000       64000000
4  Santa Catarina  Florian√≥polis   62000000      124000000

In [38]:
df.applymap(f)

,Estado,Capital,Popula√ß√£o,Popula√ß√£o * 2
0,AmazonasAmazonas,ManausManaus,78000000,156000000
1,PernambucoPernambuco,RecifeRecife,186000000,372000000
2,S√£o PauloS√£o Paulo,S√£o PauloS√£o Paulo,886000000,1772000000
3,Mato GrossoMato Grosso,Cuiab√°Cuiab√°,64000000,128000000
4,Santa CatarinaSanta Catarina,Florian√≥polisFlorian√≥polis,124000000,248000000